# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
/overage

# next.js
.next
out
.vercel

# production
build

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
wpe.json

# storybook
build-storybook.log
storybook-static/*

# docusaurus
.docusaurus

# WP Default files
backend/plugins/akismet
backend/plugins/hello.php
backend/plugins/index.php
backend/themes/twentynineteen
backend/themes/twentytwenty
backend/themes/twentytwentyone
backend/themes/index.php

# Docker WP env
wordpress_env

# composer
vendor

# vercel
.vercel
