/*
 * This file is for demo purposes and should be deleted!
 *
 * Learn more about styling the Next.js WordPress Starter:
 * https://github.com/WebDevStudios/nextjs-wordpress-starter/wiki
 */

body {
  @apply font-sans;
}

#page-content {
  /* Global Styles */

  & .innerWrap {
    @apply max-w-5xl m-auto py-2;
  }

  & ul:not(.breadcrumbs),
  & ol,
  & p {
    & a {
      @apply text-blue-500 underline;

      &:hover,
      &:focus {
        @apply no-underline;
      }
    }
  }

  /* Body Heading Styles */
  & h1,
  & h2,
  & h3,
  & h4 {
    @apply mb-6 font-semibold;
  }

  & h1 {
    @apply text-4xl;
  }

  & h2 {
    @apply text-2xl;
  }

  & h3 {
    @apply mb-4 text-xl;
  }

  & h4 {
    @apply mb-4 text-lg;
  }

  /* Rich Text Styles */
  & p,
  & ul,
  & ol {
    @apply mb-4;
  }
}
