.richtext {
  &.center {
    @apply text-center;
  }

  /* Paragraph, List Styles */
  & ul,
  &.ul,
  & ol,
  &.ol,
  & p,
  &.p {
    @apply mb-20;
  }

  & ul,
  &.ul,
  & ol,
  &.ol {
    & li {
      @apply mb-4 relative pl-24 list-none;
    }

    & ul,
    & ol {
      @apply ml-16 mb-0;
    }
  }

  /* Unordered Lists */
  & ul,
  &.ul {
    & li {
      &::before {
        @apply absolute block rounded-full;

        content: '';
        width: 5px;
        height: 5px;
        left: 0.35rem;
        top: 0.55rem;
      }
    }
  }

  /* Ordered Lists */
  & ol,
  &.ol {
    counter-reset: item;

    & > li {
      &::before {
        @apply absolute block left-0 italic;

        content: counter(item) '. ';
        counter-increment: item;
        margin-left: 2px;
      }
    }
  }

  /* Heading Styles */
  & h1,
  &.h1 {
    @apply mb-20;
  }

  & h2,
  &.h2 {
    @apply mb-20;
  }

  & h3,
  &.h3 {
    @apply mb-20;
  }

  & h4,
  &.h4 {
    @apply mb-12;
  }

  & h5,
  &.h5 {
    @apply mb-12;
  }
}
