.form {
  padding: 1em;

  & > div {
    @apply mb-4;
  }

  & label {
    @apply font-semibold;

    &[required] {
      &::after {
        color: red;
        content: '*';
        display: inline-block;
      }
    }
  }

  & input {
    @apply block relative;

    color: black;
    outline: 1px solid black;
  }
}
