.form {
  @apply bg-white text-black;

  padding: 1em;

  & .fields {
    margin-bottom: 1rem;
  }

  /* Asterisk on required labels */
  & label[required] {
    &::after {
      color: red;
      content: '*';
      display: inline-block;
    }
  }

  & input {
    @apply block relative;

    color: black;
    outline: 1px solid black;
  }
}
