.form {
  @apply bg-white text-black;

  padding: 1em;

  & .fields {
    margin-bottom: 1rem;
  }

  & label {
    @apply font-semibold;

    &[required] {
      &::after {
        color: red;
        content: '*';
        display: inline-block;
      }
    }
  }

  & input {
    @apply block relative;

    color: black;
    outline: 1px solid black;
  }
}
