.heroBanner {
  padding: 6rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.buttons > * + * {
  margin-left: 2rem;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}
