.algoliaSearch {
  @apply relative;

  height: 100%;
  width: 260px;

  /* Pre-Search Input */
  & .aisPreSearch {
    @apply relative;

    & .trigger {
      @apply absolute left-0 top-0 w-full h-full z-10 cursor-text;
    }
  }

  /* Search Input */
  & .aisSearchBox {
    @apply relative h-full;

    & input {
      @apply w-full p-2 pr-8 border;

      font-size: 15px;
      line-height: 1.15;

      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        -webkit-appearance: none;
      }

      &:focus {
        @apply outline-none;
      }
    }

    /* Buttons */
    & button {
      @apply absolute cursor-pointer flex justify-center items-center right-1;

      width: 30px;
      height: 30px;
      top: 50%;
      transform: translateY(-50%);

      &:hover,
      &:focus {
        & svg {
          @apply opacity-100;
        }
      }

      & svg {
        width: 15px;
        height: 15px;
      }

      /* Reset Button */
      &[type='reset'] {
        @apply right-7;

        & svg {
          width: 12px;
          height: 12px;
          margin-top: 1px;
        }

        &[hidden] {
          @apply hidden;
        }
      }
    }
  }

  /* Drop Menus */
  & .aisDropmenu {
    @apply absolute invisible opacity-0 transition-all duration-150;

    z-index: 999;
    top: 100%;
    width: 100%;
  }

  /* Show dropmenu on Focus */
  &:focus-within {
    & .aisDropmenu {
      @apply visible opacity-100;
    }
  }

  /* History and Hits Menu */
  & .aisHistory,
  & .aisHits {
    @apply absolute border shadow w-full;

    background-color: #fff;

    & ul {
      @apply py-2 px-3;

      & li {
        @apply border-t;

        &:first-of-type {
          @apply border-none;
        }
      }
    }

    & button {
      @apply block w-full py-3 text-left;

      line-height: 1;
      font-size: 0.85rem;

      & em {
        font-style: normal;
      }

      &:hover,
      &:focus {
        @apply underline;
      }
    }
  }

  /* History Menu */
  & .aisHistory {
    & button {
      @apply w-full flex justify-between items-center font-semibold;

      & span.time {
        @apply overflow-ellipsis opacity-40 font-normal italic;

        font-size: 0.7rem;
        max-width: 30%;
      }
    }

    & .clear {
      @apply mt-2 border-none;

      & button {
        @apply font-normal;

        font-size: 0.775rem;
      }
    }
  }
}
