# Learn more about ENV variables at https://github.com/WebDevStudios/nextjs-wordpress-starter/wiki/env-variables

# Tells Next.js we're in development mode. You do not need a Vercel account for this.
VERCEL_ENV="development"

# Allows Node to work with local, self-signed certificates.
NODE_TLS_REJECT_UNAUTHORIZED="0"

# Your WordPress URL.
WORDPRESS_URL="https://nextjs.wpengine.com/"

# This needs to match the WORDPRESS_PREVIEW_SECRET constant in wp-config.php. It can be any random string of text.
WORDPRESS_PREVIEW_SECRET="ANY_RANDOM_STRING_OF_TEXT"

# Your WordPress username.
WORDPRESS_APPLICATION_USERNAME="YOUR_WORDPRESS_USERNAME"

# Your WordPress application password. Requires WordPress 5.6 and above.
# See https://make.wordpress.org/core/2020/11/05/application-passwords-integration-guide/
WORDPRESS_APPLICATION_PASSWORD="YOUR_GENERATED_APPLICATION_PASSWORD"

# Your Algolia index name.
NEXT_PUBLIC_ALGOLIA_INDEX_NAME="YOUR_ALGOLIA_INDEX_NAME"

# Your Algolia application ID.
NEXT_PUBLIC_ALGOLIA_APPLICATION_ID="YOUR_ALGOLIA_APP_ID"

# Your Algolia search only key.
NEXT_PUBLIC_ALGOLIA_SEARCH_ONLY_KEY="YOUR_ALGOLIA_SEARCH_ONLY_KEY"

# The domain where your images are hosted on.
# See https://nextjs.org/docs/basic-features/image-optimization#domains
NEXT_PUBLIC_IMAGE_DOMAINS="nextjs.wpengine.com, nextjsdevstart.wpengine.com, nextjswp.test"

# Your WordPress URL.
NEXTAUTH_URL="https://nextjs.wpengine.com/"

# JWT secret key. This must match the GRAPHQL_JWT_AUTH_SECRET_KEY constant in wp-config.php.
JWT_SECRET_KEY="your-secret-token"
