.navigation {
  & > ul {
    @apply flex flex-wrap justify-center;

    & > li {
      @apply relative mx-8 mb-2;

      & a {
        @apply block;

        &:hover,
        &:focus {
          @apply underline;
        }

        &.active {
          @apply font-bold underline;
        }
      }

      &:hover,
      &:focus-within {
        & > ul {
          @apply block;
        }
      }

      @screen lg {
        &:last-child {
          @apply mr-0 mb-0;
        }
      }
    }

    /* Nested ul / Drop Menu */
    & ul {
      @apply hidden absolute left-0 z-50 p-2 shadow-sm rounded border;

      top: 100%;
      width: 220px;
      background-color: #fff;

      & > li {
        @apply text-sm;

        & > a {
          @apply p-2;
        }
      }
    }
  }
}
