name: Assertions

on:
  pull_request:
    branches: main

  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          token: ${{ github.token }}

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 'lts/*'
          cache: 'npm'

      - name: Install Dependencies
        run: |
          npm i --legacy-peer-deps
          cd docs
          npm i --legacy-peer-deps

      - name: Lint Docs
        run: |
          cd docs
          npm run lint

      - name: Lint Frontend
        run: |
          npm run lint

      - name: Run Frontend Tests
        run: |
          npm run test:jest
