name: Publish

on:
  push:
    branches:
      - main

  workflow_dispatch:

jobs:
  publish-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          token: ${{ github.token }}

      - name: Setup SSH agent
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.GH_PAGES_PRIVATE_KEY }}

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 'lts/*'
          cache: 'npm'

      - name: Setup Git
        run: |
          git config --global user.email ${{ secrets.GIT_USER_EMAIL }}
          git config --global user.name ${{ secrets.GIT_USER_NAME }}

      - name: Install dependencies
        run: |
          cd docs
          npm i --legacy-peer-deps

      - name: Lint
        run: |
          cd docs
          npm run lint

      - name: Publish to Github Pages
        env:
          USE_SSH: true
          GIT_USER: ${{ secrets.GIT_USER_NAME }}
        run: |
          cd docs
          npm run publish

  publish-storybook:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          token: ${{ github.token }}

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 'lts/*'
          cache: 'npm'

      - name: Install Dependencies
        run: npm i --legacy-peer-deps

      - name: Build
        run: npm run build-storybook

      - name: Publish to Github Pages
        uses: JamesIves/github-pages-deploy-action@v4.2.2
        with:
          branch: gh-pages
          folder: storybook-static
          target-folder: storybook
